<header class="header">
  <div class="container">
    <div class="header-content">
      <!-- Logo -->
      <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Fc05tC_U97QAkX3vwK8bB7n2mHVo8BNMUg&s" alt="Logo" class="small-logo" />
        <h1>FCDS Mart</h1>
      </div>

      <!-- Search bar -->
      <!-- <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button class="search-btn">Search</button>
      </div> -->

      <!-- Hamburger menu (only visible on mobile) -->
      <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Nav links -->
      <nav class="nav" [class.open]="isMenuOpen">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
        <!-- <a routerLink="/" class="nav-link">Deals</a> -->
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
        </nav>

      <!-- Header actions -->
      <div class="header-actions">
        <!-- <a href="#" class="header-icon">
          <i class="fa-regular fa-user"></i>
        </a>
        <a href="#" class="header-icon">
          <i class="fa-regular fa-heart"></i>
        </a> -->
        <button class="cart-btn" (click)="viewCart()">
          <i class="fas fa-shopping-cart"></i>
          <span class="cart-count">{{ cartCount$ | async }}</span>
        </button>
      </div>
    </div>
  </div>
</header>
